services:
  web:
    container_name: ${DOCKER_CONTAINER_NAME}_web
    image: ${DOCKER_CONTAINER_NAME}_web:latest
    build:
      context: .
      args:
        XDEBUG_MODE: ${XDEBUG_MODE}
        XDEBUG_START_WITH_REQUEST: ${XDEBUG_START_WITH_REQUEST}
        XDEBUG_CLIENT_HOST: ${XDEBUG_CLIENT_HOST}
        XDEBUG_CLIENT_PORT: ${XDEBUG_CLIENT_PORT}
        XDEBUG_LOG_LEVEL: ${XDEBUG_LOG_LEVEL}
    ports:
      - ${DOCKER_PORT_WEB}
      - ${DOCKER_PORT_SSL}
    volumes:
      - .:/var/www/html
      - ./Docker/apache2/000-default.conf:/etc/apache2/sites-available/000-default.conf:ro
      - ./Docker/apache2/default-ssl.conf:/etc/apache2/sites-available/default-ssl.conf:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html/public
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data
      - XDEBUG_MODE=${XDEBUG_MODE}
      - XDEBUG_START_WITH_REQUEST=${XDEBUG_START_WITH_REQUEST}
      - XDEBUG_CLIENT_HOST=${XDEBUG_CLIENT_HOST}
      - XDEBUG_CLIENT_PORT=${XDEBUG_CLIENT_PORT}
      - XDEBUG_LOG_LEVEL=${XDEBUG_LOG_LEVEL}

  db:
    container_name: ${DOCKER_CONTAINER_NAME}_db
    image: mysql:8.0
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - ${DOCKER_PORT_DB}

volumes:
  db_data:
