.container {
    max-width: 1200px; /* Максимальна ширина контейнера */
    margin: 0 auto; /* Центрування контейнера */
    padding: 0 20px; /* Відступи по боках */
}

@media (max-width: 768px) {
    .container {
        padding: 0; /* Прибираємо відступи для мобільної версії */
    }
}
